*.tab.cpp
*.tab.hpp
*.yy.cpp
*.got.txt

bin/*
*.o
*.output
*.log
*.stackdump

*.DS_Store
/test/test_results/*
/tmp/*

.vagrant

.vscode/settings.json
tmp/formative/f1-got.py
tmp/formative/f2-got.py
tmp/formative/f4-got.py
tmp/formative/f5-got.py
tmp/formative/f6-got.py

test/*.c
test/*.cpp
test/*.s
test/tmp

dt10/soft/outputs
dt10/*